@import 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway:wght@800&display=swap';

:root {
  --white: #fff;
  --black: #000;
  --blue-main: #3e9cdc;
  --blue-header: #42a9ed;
  --grey-input-text: #272733;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.svg-sprites {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.background {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.nav__href-main,
.nav-href,
.header-block__title,
.header-block__btn,
.content__title_title,
.file__lbl,
.content__btn {
  text-transform: uppercase;
}

.detailed-text {
  color: var(--blue-main);
}

.detailed-nav-text {
  color: var(--blue-header);
}

.header-background {
  background-image: url('./bg_people.jpg');
  background-attachment: fixed;
}

.nav {
  background-color: rgb(16 16 29 / 90%);
  position: sticky;
  top: 0;
}

.nav-block {
  display: flex;
  justify-content: space-between;
}

.nav__href-main {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: var(--white);
  padding-top: 33px;
  padding-bottom: 32px;
}

.nav__href-block {
  display: flex;
  gap: 60px;
  padding-bottom: 40px;
  padding-top: 44px;
  margin-right: 35px;
}

.nav-href {
  color: var(--white);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transition: color 300ms;
}

.nav-href:hover {
  color: #43abf0;
}

.header-block {
  padding-top: 103px;
  padding-bottom: 204px;
  display: flex;
  flex-direction: column;
  row-gap: 84px;
}

.header-block__title {
  font-weight: 700;
  color: var(--black);
  font-size: 48px;
  line-height: 58px;
  width: 780px;
}

.header-block__txt-title {
  font-weight: 700;
  color: var(--black);
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
}

.header-block__txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  padding-bottom: 5px;
}

.header-block__txt:last-child {
  padding-bottom: 0;
}

.header-block__btns {
  display: flex;
  column-gap: 30px;
}

.header-block__btn {
  width: 183px;
  height: 43px;
  background-color: var(--white);
  border: 1px solid #6f6d7b;
  border-radius: 4px;
  color: #2a2b30;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 15px 31px;
  cursor: pointer;
}

.header-block__btn_main {
  background-color: var(--blue-main);
  border: 1px solid var(--white);
  color: var(--white);
}

.content-background {
  background-image: url('./bg_main.jpg');
}

.content {
  display: flex;
  flex-direction: column;
}

.content__title {
  text-align: center;
  padding-top: 121px;
  padding-bottom: 80px;
}

.content__title_title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: var(--white);
  padding-bottom: 30px;
}

.content__title_txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #bbb;
}

.content__svg-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 51px;
  margin-bottom: 80px;
  position: relative;
}

.svg-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.svg-block__txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  text-align: center;
}

.svg-block__txt_payment {
  width: 188px;
}

.oll-points {
  position: absolute;
  top: 33.33%;
}

.content__form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.select__ipt,
.email__ipt,
.user-name__ipt {
  background: var(--white);
  opacity: 0.9;
  border: 1px solid var(--white);
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 12px 10px;
}

.select__ipt,
.email__ipt,
.user-name__ipt::-webkit-input-placeholder {
  color: var(--grey-input-text);
}

.select__ipt,
.email__ipt,
.user-name__ipt::-moz-placeholder {
  color: var(--grey-input-text);
}

.select__ipt:focus {
  background: rgb(61 64 80 / 85%);
  border-radius: 3px 3px 0 0;
  border: 1px solid #3d4050;
  color: var(--white);
}

.select__option {
  background: rgb(39 39 51 / 90%);
  border: 1px solid #3d4050;
  border-radius: 3px;
}

.select__option:hover,
:checked {
  color: var(--blue-header);
}

.option-disabled {
  color: rgb(61 64 80 / 85%);
}

.range__block {
  max-width: 770px;
  display: grid;
  grid-template: auto / repeat(auto-fill, auto);
  column-gap: 5px;
}

.range__txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  padding-bottom: 19px;
}

.range__txt_title {
  grid-area: 1 / 1 / 2 / 2;
}

.range__txt_percent {
  grid-area: 1 / 3 / 2 / 4;
  justify-self: end;
}

.range__lbl {
  grid-area: 1 / 2 / 2 / 3;
  text-align: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  position: relative;
  left: 85%;
}

.range__ipt {
  grid-area: 2 / 1 / 3 / 4;
  width: 770px;
  height: 6px;
  opacity: 0.7;
  border: 1px solid var(--white);
  border-radius: 4px;
  appearance: none;
}

.range__ipt::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  border: 3px solid #286690;
  width: 23px;
  height: 23px;
  background: #42a9ed;
  cursor: pointer;
}

.range__ipt::-moz-range-thumb {
  appearance: none;
  border-radius: 50%;
  border: 3px solid #286690;
  width: 23px;
  height: 23px;
  background: #42a9ed;
  cursor: pointer;
}

.range__ipt::-ms-thumb {
  appearance: none;
  border-radius: 50%;
  border: 3px solid #286690;
  width: 23px;
  height: 23px;
  background: #42a9ed;
  cursor: pointer;
}

.file__block {
  width: 370px;
  height: 48px;
  text-align: center;
  background-color: var(--white);
  z-index: 10;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #3e9cdc;
  border-radius: 3px;
}

.file__lbl {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;
  position: relative;
  bottom: 25%;
}

.file__ipt {
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -10;
}

.content__btn {
  align-self: center;
  margin-top: 55px;
  margin-bottom: 150px;
  background-color: var(--blue-main);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}

.ipt {
  width: 370px;
  height: 48px;
}

.ipt:focus-visible {
  outline: 0;
  outline-offset: 0;
}

.footer {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-background {
  background-color: #3d4050;
}

.footer-txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer-href {
  color: var(--white);
}

.footer-block {
  display: flex;
  gap: 35px;
}

.footer-block__payment {
  color: #c3c3c3;
}

.data-block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.data-block svg {
  margin-top: -2px;
}

.vector {
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 1149px) {
  .oll-points {
    display: none;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
  }

  .footer-block {
    gap: 10px;
  }

  .data-block {
    gap: 3px;
  }

  .data-block__svg {
    width: 18px;
    height: 17px;
    margin-top: 0;
  }

  .vector {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 909px) {
  .footer-block__contacts {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .nav-block {
    flex-direction: column;
    row-gap: 20px;
  }

  .nav__href-main {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .nav__href-block {
    gap: 30px;
    padding-bottom: 30px;
    margin-right: 0;
    padding-top: 0;
  }

  .nav-href {
    font-size: 12px;
    line-height: 14px;
  }

  .header-block__title {
    width: 400px;
    font-size: 1.5em;
  }

  .content__form {
    justify-content: center;
  }

  .range__block {
    min-width: 370px;
  }

  .range__ipt {
    width: 370px;
  }

  .range__lbl {
    position: relative;
    left: 15%;
  }

  .content__svg-block {
    flex-direction: column;
    gap: 30px;
  }

  .oll-points {
    display: none;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .vector-two {
    display: none;
  }

  .data-block__svg {
    margin-top: 0;
  }
}

@media only screen and (max-width: 637px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-block__contacts {
    margin-top: 0;
  }

  .vector {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .header-block {
    row-gap: 44px;
    padding-bottom: 104px;
  }

  .header-block__title {
    width: 300px;
    font-size: 1em;
    line-height: 28px;
  }

  .header-block__btns {
    column-gap: 0;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
  }

  .header-block__btn {
    width: 220px;
    height: 43px;
  }

  .select__ipt,
  .email__ipt,
  .user-name__ipt {
    font-size: 17px;
    padding: 8px 6px;
  }

  .range__block {
    min-width: 300px;
  }

  .range__txt {
    font-size: 15px;
    line-height: 20px;
  }

  .range__lbl {
    font-size: 15px;
  }

  .range__ipt {
    width: 300px;
  }

  .file__block {
    width: 300px;
  }

  .ipt {
    width: 300px;
    height: 40px;
  }
}
