@import 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway:wght@800&display=swap';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.background-color {
  background-image: url("test_for_softcorp/images/bg_main.jpg");
  background-position: top;
}

.background {
  background-image: url("background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
  height: 800px;
  background-color: rgb(23 23 23 / 25%);
}

ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 40% 60%;
}

ul li {
  grid-column: 2 / 3;
}

h1 {
  color: #5b5e6d;
  padding-bottom: 40px;
  padding-top: 60px;
}

.title {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  color: #c7c7cf;
  padding-bottom: 10px;

}

ul a {
  color: #cfcfff;
}

ul a:visited {
  color: #c0c0ff;;
}

ul a:hover {
  color: #646489;
}

@media only screen and (max-width: 900px) {
  ul {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 790px) {
  h1 {
    padding-bottom: 20px;
  }

  .background {
    background-size: contain;
  }

  .title {
    font-size: 1.1rem;
    line-height: 22px;
  }

  ul a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 472px) {
  h1 {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.0rem;
    line-height: 19px;
  }
}

@media only screen and (max-width: 410px) {
  h1 {
    font-size: 1.1rem;
    padding-top: 30px;
  }

  .title {
    font-size: 0.9rem;
  }

  ul a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 374px) {
  .list {
    display: flex;
    flex-direction: column;
  }

  h1 {
    display: flex;
    justify-content: end;
    padding-right: 47px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .title {
    width: 170px;
    display: flex;
    align-self: end;
    padding-bottom: 120px;
  }
}